{% extends 'user/index_profile.html' %}
{% load static %}

{% block content %}
    <main role="main" class="container">
        <h2 class="mt-5">Добавить/изменить данные пользователя</h2>
        <table style="visibility: visible" id="add_user_info">
            <tr>
                <td><img src="media/{{ avatar }}" alt="nothing"></td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <form action="" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <input class="btn btn-info" type="file" placeholder="Picture" name="picture">
                        <button class="btn btn-primary btn-block" type="submit">Добавить картинку</button>
                    </form>
                </td></tr>
            <tr>
                <td align="right" width="150">День рождения: </td>
                <td><input type="text" id="birthday" value="{{ birthday }}"></td>
            </tr>
            <tr>
                <td align="right" width="150">Страна: </td>
                <td><input type="text" id="country" value="{{ country }}"></td>
            </tr>
            <tr>
                <td align="right" width="150">Город: </td>
                <td><input type="text" id="city" value="{{ city }}"></td>
            </tr>
            <tr>
                <td align="right" width="150">Улица: </td>
                <td><input type="text" id="street" value="{{ street }}"></td>
            </tr>
            <tr>
                <td align="right" width="150">Номер дома: </td>
                <td><input type="text" id="house_number" value="{{ house_number }}"></td>
            </tr>
            <tr>
                <td align="right" width="150">Корпус дома: </td>
                <td><input type="text" id="house_block" value="{{ house_block }}"></td>
            </tr>
            <tr>
                <td></td>
                <td><input id="button_save" class="btn btn-primary btn-mdl" type="button" value="Сохранить изменения"></td>
            </tr>
            <tr>
                <td></td>
                <td><input id="button_delete" class="btn btn-primary btn-mdl" type="button" value="Очистить данные"></td>
            </tr>
        </table>

        {% if mes > 0 %}
        <hr> <hr>
            {% for m in mes_list %}
                <input type="button" value="Прочитано" id="{{ m.id }}" onclick="read_gg({{ m.id }})"> <text> отправлено от {{ m.who_send }}: {{ m.message }}</text>
                <hr>
            {% endfor %}
        {% endif %}
    </main>

    <footer class="footer">
        <div class="container">
            <span class="text-muted">Place sticky footer content here.</span>
        </div>
    </footer>
{% endblock %}

{% block javascript %}
    <script src="{% static 'js/profile.js' %}"></script>
{% endblock %}