{% extends 'ads/index.html' %}
{% load staticfiles %}

{% block head %}
    <title>Добавить объявление</title>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2>Добавить статью</h2>
            </div>
            <div class="col-9">
                <div>
                    <input type="text" placeholder="Заголовок" id="title">
                </div>
                <div>
                    <input type="text" placeholder="Текст объявления" id="description">
                </div>
                <div>
                    <input type="text" placeholder="Цена" id="price">
                </div>
                <div>
                    <input type="button" class="btn btn-primary" value="Добавить статью" id="button_save">
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    <script src="{% static 'js/add.js'%}"></script>
{% endblock %}