{% extends 'ads/index.html' %}
{% load staticfiles %}

{% block head %}
    <title>Доска объявлений</title>
{% endblock %}

{% block content %}
    <ul style="list-style-type: none;">
        {% for ad in data %}
            <li>
                <a href="{% url 'show_ad' ad.id %}"> Показать развернутое описание</a>  <br>
                ID: {{ ad.id }} <br>
                Заголовок: {{ ad.title }} <br>
                Описание: {{ ad.description|truncatechars:50 }} <br>
                Цена: {{ ad.price }} <br>
                Автор: {{ ad.user__first_name }} <br>
                Категория: {{ ad.category__category }}
                <hr>
            </li>

        {% endfor %}
    </ul>

    <div class="pagination">
        <span class="step-links">
            {% if data.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ data.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ data.number }} of {{ data.paginator.num_pages }}.
            </span>

            {% if data.has_next %}
                <a href="?page={{ data.next_page_number }}">next</a>
                <a href="?page={{ data.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>

{% endblock %}

{% block javascript %}

{% endblock %}